{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ product.name }}の詳細{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">{{ product.name }}の詳細</h1>
            <!-- 商品詳細カード -->
            <div class="card-body">
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">
                    <strong>{{ product.price|floatformat:0|intcomma }}円</strong>
                </p>
                <!-- 商品画像表示部分 -->
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid mb-3">
                {% else %}
                    <p>画像はありません。</p>
                {% endif %}
                {% if user.is_authenticated %}
                    <form action="{% url 'like_product' product.id %}" method="post">
                        {% csrf_token %}
                        {% if product.likes.filter(user=user).exists %}
                            <button type="submit">アンライク</button>
                        {% else %}
                            <button type="submit">いいね</button>
                        {% endif %}
                    </form>
                {% endif %}
                <p>いいね: {{ product.like_set.count }}</p>
                <!-- ボタンの配置 -->
                <div class="d-flex justify-content-between mt-4">
                    <a href="{% url 'product_update' product.pk %}" class="btn btn-secondary">編集</a>
                    <form action="{% url 'product_delete' product.pk %}" method="POST" onsubmit="return confirm('本当に削除しますか?');">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">削除</button>
                    </form>
                    <a href="{% url 'search_view' %}" class="btn btn-primary">検索画面へ戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}