{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}{{ product.name }}の詳細{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">{{ product.name }}の詳細</h1>
            <!-- 商品詳細カード -->
            <div class="card-body">
                <!-- 商品画像表示部分 -->
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                {% else %}
                    <img src="{% static 'images/no_image.jpg' %}" alt="No Images" class="img-fluid">
                {% endif %}
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">
                    <strong>{{ product.price|floatformat:0|intcomma }}円</strong>
                </p>
                <!-- いいね数の表示 -->
                <p class="card-text">
                    <span>{{ like_count }} いいね</span>
                </p>
                <!-- ボタンの配置 -->
                <div class="d-flex justify-content-between mt-4">
                    <a href="{% url 'product_update' pk=product.pk %}" class="btn btn-secondary">編集</a>
                    <a href="{% url 'product_delete' pk=product.pk %}" class="btn btn-danger">削除</a>                  
                    <a href="{% url 'search_view' %}" class="btn btn-primary">検索画面へ戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
